<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:horizonos="http://schemas.horizonos/sdk">

    <horizonos:uses-horizonos-sdk
        horizonos:minSdkVersion="69"
        horizonos:targetSdkVersion="76" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viriviri.Meta">

        <activity
            android:name=".meta.ImmersiveActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.oculus.intent.category.VR" />
            </intent-filter>
        </activity>

        <activity
            android:name=".meta.PanelActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape">
            <layout
                android:defaultHeight="720dp"
                android:defaultWidth="1280dp"
                android:minHeight="400dp"
                android:minWidth="640dp" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
            </intent-filter>
        </activity>
    </application>
</manifest>
